body{
    background-color:#FCFCD7;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding:0;
    margin:0;
    align-items: center;
}

footer{
    align-items: center;
    background-color:#ffff78;
    color: #004777;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:1.2em;
    padding: 25px 50px;
    margin-top: 200px;
    justify-content: space-around;
    display:flex;
}

footer a{
    color: #004777;
    text-decoration: none;
}

footer a:hover{
    color:#ffff78;
    background-color: #004777;
    text-decoration: underline;
}

footer .social img{
    padding-top:15px;
}

header{
    display:grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    justify-content: center;
    background-color: #ffff78;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width:100%;
    max-width: 1600px;
    position:fixed;
    top:0;
    transition: top 0.3s;
    min-height:100px;
}

header nav{
    display:flex;
    justify-content: space-around;
}

h2{
    color:#004777;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
}

h4{
    color:#004777;
}

main{
    display:grid;
    grid-template: 1fr 500px 0.5fr 1fr 0.5fr 2fr 0.5fr 1fr 1fr / repeat(10, 1fr)
}

main section{
    text-align:center;
}

main section img{
    box-sizing: border-box;
}

nav a{
    text-align:center;
    color: #004777;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #004777;
    color:#ffff78;
    text-decoration: underline;
}

.book, .join{
    background-color: #004777;
    border-radius: 5px;
    color: #ffff78;
    text-decoration:none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
}

.book:hover, .join:hover{
    background-color: #ffff78;
    color:#004777;
    text-decoration: underline;
}

.button-box{
    text-align:center;
}

.card-img{
    border: 10px solid #004777;
    max-width: 100%;
    width:300px;
    aspect-ratio: 1/1;
    object-fit:cover;
    background-position:center center;
    background-repeat: no-repeat;
    border-radius:10px;
}

.home-title{
    background-color: #004777;
    color: #ffff78;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
    margin-top:10px;
    margin-left: 0px;
    display:inline;
}

.icon{
    width:80px;
    height:80px;
    object-fit:contain;
    padding-top: 10px;
}

.mountains{
    grid-area:5/2/8/7;
    height:100%;
    width:100%;
    max-height:100%;
    max-width: 100%;
    object-fit:cover;
    background-position:center center;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.msg{
    background-color: #FCFCD7;
    line-height: 1.5em;
    padding: 35px;
    grid-area:6/6/7/10;
    border-radius: 20px;
}

.msg h2{
    background-color: #004777;
    color:#ffff78;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}

.msg p{
    color: #004777;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    padding-bottom:15px;
}

.rivers-card{
    grid-area: 2/2/3/4;
}

.camping-card{
    grid-area: 2/5/3/7;
}

.rapids-card{
    grid-area: 2/8/3/10;
}

.rivers-card, .camping-card, .rapids-card{
    border: 10px solid #004777;
    background-color:#ffff78;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:20px;
    align-self:flex-start;
}
.rivers-card:hover, .camping-card:hover, .rapids-card:hover{
    opacity: .8;
    transform: scale(1.1);
}

#background{
    background-color: #004777;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    grid-area: 4/1/9/11;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

#hero{
    display:grid;
    grid-template: 1fr 3fr/1fr 3fr 1fr;
    margin-top: 100px;
}

#hero-box{
    grid-column: 1/4;
    grid-row:1/3;
}

#hero-img{
    width: 100%;
}

#hero-msg{
    grid-area: 2/2/3/3;
    text-align:center;
}

#hero-msg h1{
    text-align:center;
}
#hero-msg h4{
    text-align:center;
    color:#ffff78;
    margin-top:40px;
    margin-bottom:40px;
}

#logo_link{
    text-align:center;
    padding-top: 5px;   
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
   