/* number go up */
body{
    background-color: maroon;
    color: hotpink;
    font-family: "Comic Sans", "Times New Roman";
}
h1{
    color: orange;
    background-color: limegreen;
    padding: 30px 15px;
    border: 5px dotted teal;
    margin: 1px 500px;
}
p{
    background-color:cadetblue;
    border: 50px solid darkblue;
}
.Flavors{
    background-color:black;
    font-style:normal;
    border: 5px solid green;
    color: cyan;
    font-family: "Courier";
}
#culture{
    background-color:wheat;
    color:rgb(50,50,50);
    border: 3px groove black;
    padding: 30px;
}
a:link{
    background-color:rgb(255,150,255);
    color: rgb(150,255,255);
}
a:visited{
    background-color: rgb(199,200,10);
    color:rgb(100,0,0);
}
a:hover{
    background-color:rgb(255,150,255);
    color: rgb(150,255,255);
    border:3px solid rgb(150,255,255);
}
a:active{
    color:red;
    background-color:red;
    border: 50px solid red:
}
