/* Add your CSS here to style your halloween page */
body{
    margin: 0;
    padding:0;
    text-transform: uppercase;
}
nav{
    background-color:#8a8080;
    position:fixed;
    width:100%;
    height:100px;
    top:0;
}
ul{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
li:hover{
    background-color:#5a5050;
}
main{
    background-color:#201010;
    margin-top:100px;
    color:#804040;
    display:grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr 3fr 1fr;
    text-align:center;
}
footer{
    background-color:#8a8080;
}
main h1{
    grid-column: 3/6;
    grid-row:1;
    color:#801010;
    font-size: 80px;
    font-style:italic;
    font-family:cursive, serif;
    z-index:1;
    transition:0.5s;
}
h1:hover{
    color:#ff0000;
}
main img{
    grid-area: 1/1/3/8;
    width:100%;
    z-index: 0;
}
main section{
    background-color: #8a8080;
    border: 10px double lightgray;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
    height:900px;
    margin: 30px 30px 0 30px;
    padding: 90px 50px 0 50px;
    font-weight:bolder;
    font-family: Courier, 'Courier New', monospace;
    grid-row:2;
    z-index:1;
    transition:1s;
}
section:hover{
    background-color: #5a5050;
    border: 10px double #8a8080;
    color:#ff0000;
}
section h2{
    font-size:30px;
}
section p{
    font-size:20px;
}
main #one{  
    grid-column:2/3;
}
main #two{
    grid-column:4/5;
}
main #thr{
    grid-column:6/7;
}
