body {
    background-color:black;
    font-family:Arial, Helvetica, sans-serif
}
header{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:10px 15px 0px 15px;
}
header #name{
    margin-top: 20px;
    margin-right: 0 px;
    line-height:0;
    margin-right:0;
    text-align:right;
    font-weight: 100;
    font-size: 10px;
    color:#213b56;
}
main{
    display:grid;
    grid-template-columns: 1fr;
    text-align:center;
    align-items:center;
}
footer{
    display:grid;
    text-align:center;
}
.departureinfo{
    text-align:center;
    align-items:center;
    background-color:#001b36;
    grid-row: 1/3;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    line-height:0.5;
    padding: 5px 40px 0px 40px;
}
.departureinfo h2{
    color:white;
    font-size:30px;
    margin:20px 0;
}
.departureinfo h4{
    color: #213b56;
    font-size:10px;
}
.gateinfo{
    line-height:0;
    background-color:#f1f1f1;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 17px 40px 0 40px;
}
.gateinfo h3{
    color:#213b56;
    line-height:0;
    font-size: 9px;
    margin:0;
    margin-top:14px;
    padding:0;
}
.gateinfo h5{
    color:#213b56;
    line-height:0;
    font-size:17px;
    margin-top: 15px;
    margin-bottom: 37px;
    font-weight:50;
}
#boardingpass{
    width: 375px;
    height:460px;
    background-color: white;
    margin: 0 auto;
    border-radius:20px
}
#barcode{
    margin: 18px auto 0 auto;
}
#thanks{
    line-height:0;
    font-size:10px;
    margin: 14px auto 15px auto;
    align-self:center;
    color:#213b56;
}