/* CSS - Name: "positionstyles.css" */
/* Activity 1 styles */
.content1 {
  /* This is the parent of the activity 1 boxes. */
  display:grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: 100px 200px 200px 100px;
  align-items: center;
  Max-width:500px;
  grid-gap:20px;
}
.red1 { 
  
  height: 100px; 
  background-color: red; 
  grid-column: 1/3;
  grid-row: 1;
} 
.green1 {
  height: 100%; 
  aspect-ratio: 1;
  background-color: green; 
  margin: 0 auto;
  grid-row: 2;
} 
.yellow1 {
  height: 100%; 
  aspect-ratio: 1;
  background-color: gold; 
  grid-row:3;
  margin: 0 auto;
} 
.blue1 { 
  height: 100px; 
  background-color: blue; 
  grid-column: 1/3;
  grid-row: 4;
} 

/* Activity 2 styles */ 
.content2 {
  display:grid;
  /* This is the parent of the activity 2 boxes. */
  grid-template-columns: repeat(6,50px);
  grid-template-rows: repeat(6,50px);
}
.red2 {
  width: 100%; 
  aspect-ratio: 1;
  background-color: red; 
  grid-row: 1/3;
  grid-column: 1/3;
  z-index: 0;
} 
.green2 { 
  width: 100%; 
  aspect-ratio: 1;
  background-color: green; 
  grid-row: 2/4;
  grid-column: 2/4;
  z-index: 1;
} 
.yellow2 {
  width: 100%; 
  aspect-ratio: 1;
  background-color: gold; 
  grid-row: 3/5;
  grid-column: 3/5;
  z-index: 2;
} 
.blue2 {
  width: 100%; 
  aspect-ratio: 1;
  background-color: blue; 
  grid-row: 4/6;
  grid-column: 4/6;
  z-index: 3;
} 
/* Activity 3 styles */ 
.content3 {
  /* This is the parent of the activity 3 boxes. */
  display: grid;
  grid-template-columns: 350px 100px 350px;
  grid-template-rows: 100px 200px 100px;
}
.red3 {
  width: 100%; 
  grid-row: 1;
  grid-column: 1/4;
  background-color: red; 
} 
.green3 {
  width: 100%; 
  grid-row: 2;
  grid-column: 1;
  background-color: green;
}
.yellow3 {
  width: 100%; 
  grid-row: 2;
  grid-column: 3;
  background-color: gold; 
} 
.blue3 {
  width: 100%; 
  grid-row: 3;
  grid-column: 1/4;
  background-color: blue; 
} 
/* Activity 4 styles */ 
.content4 {
  /* This is the parent of the activity 4 boxes. */
  display:grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 150px 150px 150px;
}
.red4 { 
  background-color: red; 
  grid-row:1/4;
  grid-column:1;
} 
.green4 {
  background-color: green; 
  grid-row:1;
  grid-column:2;
} 
.yellow4 { 
  background-color: gold; 
  grid-row:2;
  grid-column:2;
} 
.blue4 { 
  background-color: blue; 
  grid-row:3;
  grid-column:2;
} 
/* Activity 5 styles */ 
.content5 {
  /* This is the parent of the activity 5 boxes. */
  height:500px;
}
.red5 { 
  width:800px;
  height:100px;
  background-color: red; 
} 
.green5 { 
  float:left;
  width: 200px;
  height: 200px; 
  background-color: green; 
  
} 
.yellow5 { 
  width:800px;
  height:300px;
  background-color: gold; 

} 
.blue5 { 
  width:800px;
  height:100px;
  background-color: blue; 
} 
/* Activity 6 styles */ 
.content6 {
  display: grid;
  grid-template-columns: 100px 100px 200px 100px 100px;
  grid-template-rows: 100px 100px 200px 100px 100px;
  /* This is the parent of the activity 6 boxes. */
}
.red6 {
  grid-row: 1/3;
  grid-column:1/4;
  background-color: red; 
} 
.green6 {
  grid-row: 4/6;
  grid-column:1/3;
  background-color: green; 
  z-index: 2;
} 
.yellow6 {
  grid-row: 3/6;
  grid-column:4/6;
  background-color: gold; 
  z-index: 1;
} 
.blue6 {
  grid-row: 2/5;
  grid-column:2/5;
  background-color: blue;
  z-index: 0;
} 


/* Do not make any changes below here */
.activity {
  width: 70%; 
  margin: 20px auto; 
  font-family: Arial, sans-serif; 
  border: 1px solid black; 
  padding: 10px; 
  clear:both; 
  overflow: auto;
} 

.hint {
  border: 1px solid grey;
  background: #e0e0e0;
  padding: .5em;
  position: relative;
  margin: 1em 0;
}
.hint h3 {
  margin: 0;
}
.hint:hover {
  background: #d0d0d0;
}
.hint > div {
  display: none;
}

.hint input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
  display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
  top: -3px;
}
.hint i:before, .hint i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
  position: relative;
  z-index: 1;
}